
.App {

  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 25%;

}

.AreaDeMensagem {
  border: 1px solid black;
  flex-grow: 1;
}

.Form {
  width: 100%;
  display: flex;

}

.user {
  width: 20%;
}

.message {
  width: 60%;
}

.enviar {

  flex-grow: 1;
}

.UserName {
  font-weight: bold;
}